@import "src/assets/globalVariables.module";

.ColoredShapeContainer{

  width : 100vw;
  height: 7vh;
  display: flex;
  $coloredShapeTitleFontSize : $globalFontSize;


  .coloredShapeContent{
    width: inherit;
    padding-top: calc ($globalHomeContentContainerPadding * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;

  }


  .coloredShapeTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    padding: 5vh;
    font-size: calc( $coloredShapeTitleFontSize * 2 );
  }

  .darkTheme {
    @include darkTheme;
  }

  .lightTheme {
    @include lightTheme;
  }

  .colorfulTheme {
    @include colorfulTheme;
  }

}
