$globalFontFamily: "Courier New", monospace;
$globalFontSize: 1vw;

$globalDarkColor: #212121;
$globalLightColor: #fafafa;
$globalHighlightColor: #ff6f69;


@mixin darkTheme {
  background: $globalDarkColor;
  color: $globalLightColor;
  a {
    color: black;
  }
}

@mixin lightTheme {
  background: #fafafa;
  color: #212121;
  a {
    color: white;
  }
}
