$globalFontFamily: "Courier New", monospace;
$globalFontSize: 1vw;

$globalBorderRadius: 2vw;

$globalDarkColor: #212121;
$globalLightColor: #fafafa;
$globalHighlightColor: #ff6f69;
$globalUnderlayRGBAColorDark: rgba(255, 255, 255, 0.05);
$globalUnderlayRGBAColorLight: rgba(0, 0, 0, 0.05);
$globalBackgroundColorNavigationBar: #fff;





@mixin darkTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: $globalDarkColor;
  color: $globalLightColor;
  a  {
    color: white;
  }
}

@mixin lightTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: $globalLightColor;
  color: $globalDarkColor;
  a {
    color: $globalDarkColor;
  }
}

@mixin colorfulTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: rgba(145, 248, 139, 0.74);
  color: $globalDarkColor;
  a {
    color: $globalDarkColor;
  }
}
