@import 'src/assets/globalStyleElements.module';

.ToggleButton {
  --background-color: #7f52ff;
  border-radius: $globalBorderRadius;
  .checkbox {
    display: none;
    &:checked + .toggleStateIndicator {
      background-color: $globalHighlightColor;
    }
  }
  .toggleStateIndicator {
    @include boxShadowSmall;
    display: flex;
    width: max-content;
    &:hover {
      border: solid $globalHighlightColor;
    }
    border: solid transparent;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: $globalBorderRadius;
    transition: background-color 0.55s;
  }
}
