@import 'src/assets/globalStyleElements.module';

.ThemeMenu {
  border-radius: $globalBorderRadius;
  width: 5vw;
  height: 4vh;
  @mixin dropdownButtonStyling {
    display: flex;
    width: inherit;
    height: inherit;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    border: solid transparent;
    &:hover {
      border: solid $globalHighlightColor;
    }
  }

  .themeMenuButtonDarkTheme {
    --box-shadow-color: black;
    @include boxShadowSmall;
    @include dropdownButtonStyling;
    @include darkThemeContent;
  }

  .themeMenuButtonLightTheme {
    --box-shadow-color: #212121;
    @include boxShadowSmall;
    @include dropdownButtonStyling;
    @include lightThemeContent;
  }

  .themeMenuButtonColorfulTheme {
    --box-shadow-color: #212121;
    @include boxShadowSmall;
    @include dropdownButtonStyling;
    @include colorfulThemeContent;
  }

  .themeMenuElements {
    position: absolute;
    z-index: 1000;
    width: inherit;
    height: inherit;

    @mixin themeMenuElementStyling {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.8vh;
      cursor: pointer;
      width: inherit;
      height: inherit;
      border: solid transparent;
      border-radius: $globalBorderRadius;
      &:hover {
        border: solid $globalHighlightColor;
      }
    }

    .elementDarkTheme {
      --box-shadow-color: black;
      @include boxShadowSmall;
      @include themeMenuElementStyling;
      background: $globalLightColor;
      color: $globalDarkColor;
    }

    .elementLightTheme {
      --box-shadow-color: #212121;
      @include boxShadowSmall;
      @include themeMenuElementStyling;
      background: $globalDarkColor;
      color: $globalLightColor;
    }

    .elementColorfulTheme {
      --box-shadow-color: #212121;
      @include boxShadowSmall;
      @include themeMenuElementStyling;
      background: $globalDarkColor;
      color: $globalLightColor;
    }
  }
}
