@import "src/resources/globalVariables.module";
.TextButton{
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: $globalFontFamily;
  font-size: $globalFontSize*0.8;
  color: white;
  mix-blend-mode: difference;
  border: solid transparent;
  border-radius: 0.5vw;
}

.TextButton:hover{
border: solid $globalHighlightColor;
}
