.NavigationBar {
  border-top: solid 0.2vh;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  align-items: end;
  position: relative;
  bottom: 0;

  a {
    text-decoration: none;
    border-radius: 30px;
    border: none;
  }
}
