.NavigationBar {
  border-top: solid 0.2vh;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  align-items: flex-end;
  position: relative;
  bottom: 0;

  a {
    text-decoration: none;
    border-radius: 30px;
    border: none;
  }

  .settingsButton {
    background: none;
    border: none;
    width: auto;
    height: auto;

    .settingsButtonImage {
      height: 4rem;
    }
  }
}
