.NavigationBar {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom : 0;
  background-color: #fafafa;
  max-height: 20vh;
  min-height: 9vh;
  top: 50%;

  .NavigationItems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .settingsButton {
      background: none;
      border: none;
      display: flex;
      .settingsButtonImage {
        height: 3rem;
      }
    }

  }
}
