.Navigation{
  display: flex;
  border-top: solid 0.5vh;
  height: auto;
  width: 100vw;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;

    .NavLink{
      color:black;
    }
    a{
      text-decoration: none;
      border-radius: 30px;
      border: none;
    }

    a:hover{
      border: solid lightgrey;
    }
    a:visited{
      color:black;
    }
  }
