@import 'src/assets/globalStyleElements.module';

.Navigation {
  .navigationLinks {
    all: inherit;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}
