@import "src/assets/globalStyleElements.module";

.Project {
  --pulse-color: #ff6f69ff;
  --pulse-color-siffertIo: #f9f871;
  --pulse-color-roshambo: #ffc75f;
  --box-shadow-color: #000000;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  border: solid crimson;
  &:hover {
    border: solid $globalHighlightColor;
  }


  .projectHeader {
    position: relative;
    padding: 2vh;
    font-size: calc( $globalFontSize * 2 );
  }
  .projectTitle {
    font-size: calc($globalFontSize * 2);
  }

  .projectContent {
    padding: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $globalBorderRadius;

    background-image: url("../../assets/images/backgroundFlourishDiagonal.svg ");
    background-repeat: repeat;
    background-size: 20%;
    background-blend-mode: multiply;

    height: 30vh;
    transition: all 2s ease-in-out;

    &.hide {
      height: 0;
      width: 30vw;
      //display: none;
      background-color: pink;
    }

    //@include boxShadow;
    &:hover {
      @include globalPulseAnimationMixin;
    }
  }
}