@import "src/assets/globalVariables.module";

.Project {
  display: flex;
  flex-direction: column;;
  justify-content: space-evenly;
  align-items: center;
  $contentSectionPadding: $globalHomeContentContainerPadding;
  .projectTitle {

  }
  .projectContent {
    display: inherit;
    padding-top: $contentSectionPadding;
    gap: $contentSectionPadding;
  }


}