@import "src/assets/globalStyleElements.module";

.Project {
  --box-shadow-color: #000000;

  @mixin boxShadow{
    box-shadow: 0.1vw 0.1vw 0.5vw var(--box-shadow-color);
  }
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  $contentSectionPadding: $globalHomeContentContainerPadding;

  .projectHeader {
    padding: 0.5vh;
  }
  .projectTitle {
    padding: 2vh;
    font-size: calc( $globalFontSize * 2 );
  }
  .projectContent {
    @include boxShadow;
    border-radius: $globalBorderRadius;
    &:hover{
      --pulse-color: pink;
      @include pulseAnimationMixin;
    }
    width: 80%;
    display: inherit;
    padding-top: $contentSectionPadding;
    gap: $contentSectionPadding;
  }


}