@import "src/assets/globalVariables.module";

.DropdownMenu {

  $dropDownButtonPadding: 0.4vw;

  .dropdownButtonDarkTheme {
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: center;
    font-family: $globalFontFamily;
    font-size: $globalFontSize*0.8;
    padding: $dropDownButtonPadding;
    mix-blend-mode: inherit;
    border-bottom: solid $globalLightColor;
    border-top: solid transparent;
    border-top: solid transparent;
    border-right: solid transparent;
    border-left: solid transparent;
    border-radius: $globalBorderRadius;
  }

  .dropdownButtonDarkTheme:hover {
    border: solid $globalHighlightColor;
    border-radius: $globalBorderRadius;
  }

  .dropdownButtonLightTheme {
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: center;
    font-family: $globalFontFamily;
    font-size: $globalFontSize*0.8;
    padding: $dropDownButtonPadding;
    mix-blend-mode: inherit;
    border-bottom: solid $globalDarkColor;
    border-top: solid transparent;
    border-right: solid transparent;
    border-left: solid transparent;
    border-radius: $globalBorderRadius;
  }

  .dropdownButtonLightTheme:hover {
    border: solid $globalHighlightColor;
    border-radius: $globalBorderRadius;
  }


  .dropdownElements {
    position: absolute;
    z-index: 1000;
    left: 1.4vw;

    $elementPadding: 0.3vh;
    $elementMarginTop: 0.8vh;

    .elementDarkTheme {
      width: 100%;
      border: solid transparent;
      border-radius: $globalBorderRadius;
      background: $globalLightColor;
      color: $globalDarkColor;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $elementPadding;
      margin-top:  $elementMarginTop;
      font-size: $globalFontSize*0.8;
      cursor: pointer;
    }

    .elementDarkTheme:hover {
      border: solid $globalHighlightColor;
    }

    .elementLightTheme {
      width: 100%;
      border: solid transparent;
      border-radius: $globalBorderRadius;
      background: $globalDarkColor;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $elementPadding;
      margin-top:  $elementMarginTop;
      font-size: $globalFontSize*0.8;
      cursor: pointer;
    }

    .elementLightTheme:hover {
      border: solid $globalHighlightColor;
    }
  }
}

