@import 'src/assets/globalStyleElements.module';

.ProfilePicture {
  --pulse-color-profile: #845ec2;

  .contentContainer {
    display: flex;
    position: relative;
  }

  .contentContainer img {
    border-radius: 50rem;
    min-height: 10vh;
    min-width: 10vh;
    max-height: 30vh;
    max-width: 30vh;
  }

  .textContainer {
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(20vw, 7vw);
  }


  .textContainerName {
    width: auto;
    text-align: center;
    font-size: $globalFontSize * 1.5;
    border-radius: 50vw;
    opacity: 0;
    transition: transform 0.55s ease-in-out, opacity 0.55s ease-in-out 0.15s;
  }

  .textContainerJobDescription {
    position: absolute;
    bottom: -2vh;
    font-size: $globalFontSize * 0.8;
    border-radius: 50vw;
    opacity: 0;
    transition: transform 0.55s ease-in-out, opacity 0.55s ease-in-out 0.15s;
  }

  @mixin contentStyling {
    min-width: 8vw;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: solid transparent;
    border-radius: $globalBorderRadius * 10;
    &:hover .textContainerName {
      opacity: 1;
    }
    &:hover .textContainerJobDescription {
      opacity: 1;
    }

    &:hover img {
      --pulse-color: var(--pulse-color-profile);
      @include globalPulseAnimationMixin;
    }
  }

  .darkTheme {
    @include darkThemeContent;
    @include contentStyling;
  }

  .lightTheme {
    @include lightThemeContent;
    @include contentStyling;
  }

  .colorfulTheme {
    @include colorfulThemeContent;
    @include contentStyling;
  }
}
