@import "src/assets/globalVariables.module";

$borderAnimationColor: $globalSecondaryHighlightColorRgba;

.RoundImage {

  display: flex;
  justify-content: center;
  align-items: center;
  .roundImage * {
    border-radius: 50vw;
    height: auto;
    width: auto;
    max-height: 30vh;
    max-width: 30vh;
    border: solid transparent;
  }

  .roundImage:hover img {
    animation: pulse 2s ease forwards;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $borderAnimationColor;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}