@import "src/assets/globalVariables.module";

.DropdownMenu {

  $dropDownButtonPadding: 0.4vw;

  @mixin dropdownButtonStyling {
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: center;
    font-family: $globalFontFamily;
    font-size: $globalFontSize*0.8;
    padding: $dropDownButtonPadding;
    border-top: solid transparent;
    border-right: solid transparent;
    border-left: solid transparent;
    border-radius: $globalBorderRadius;
    &:hover {
      border: solid $globalHighlightColor;
    }
  }

  .dropdownButtonDarkTheme {
    @include dropdownButtonStyling;
    border-bottom: solid $globalLightColor;
  }

  .dropdownButtonLightTheme {
    @include dropdownButtonStyling;
    border-bottom: solid $globalDarkColor;
  }

  .dropdownElements {
    position: absolute;
    z-index: 1000;
    left: 1.4vw;

    $elementPadding: 0.3vh;
    $elementMarginTop: 0.8vh;

    @mixin dropdownElementStyling {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $elementPadding;
      margin-top:  $elementMarginTop;
      font-size: $globalFontSize*0.8;
      cursor: pointer;
      width: 100%;
      border: solid transparent;
      border-radius: $globalBorderRadius;
      &:hover {
        border: solid $globalHighlightColor;
      }
    }

    .elementDarkTheme {
      @include dropdownElementStyling;
      background: $globalLightColor;
      color: $globalDarkColor;
    }

    .elementLightTheme {
      @include dropdownElementStyling;
      background: $globalDarkColor;
      color: $globalLightColor;
    }
  }
}

