@import "src/assets/globalStyleElements.module";

.DropdownMenu {

  border-radius: $globalBorderRadius;
  width: 5vw;
  height: 4vh;
  @mixin dropdownButtonStyling {
    display: flex;
    width: inherit;
    height: inherit;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    border: solid transparent;
    &:hover {
      border: solid $globalHighlightColor;
    }
  }

  .dropdownButtonDarkTheme {
    --box-shadow-color: black;
    @include boxShadowSmall;
    @include dropdownButtonStyling;
    @include darkThemeContentContainer;
  }

  .dropdownButtonLightTheme {
    --box-shadow-color: #212121;
    @include boxShadowSmall;
    @include dropdownButtonStyling;
    @include lightThemeContentContainer;
  }

  .dropdownElements {
    position: absolute;
    z-index: 1000;
    width: inherit;
    height: inherit;


    @mixin dropdownElementStyling {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top:  0.8vh;
      cursor: pointer;
      width: inherit;
      height: inherit;
      border: solid transparent;
      border-radius: $globalBorderRadius;
      &:hover {
        border: solid $globalHighlightColor;
      }
    }

    .elementDarkTheme {
      --box-shadow-color: black;
      @include boxShadowSmall;
      @include dropdownElementStyling;
      background: $globalLightColor;
      color: $globalDarkColor;
    }

    .elementLightTheme {
      --box-shadow-color: #212121;
      @include boxShadowSmall;
      @include dropdownElementStyling;
      background: $globalDarkColor;
      color: $globalLightColor;
    }
  }
}