@import "src/assets/globalStyleElements.module";

.FoldableSection {
  width: 100%;
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: $globalBorderRadius;

  .skillsHeader {
    padding: 2vh;
    border-radius: $globalBorderRadius;
    border: solid transparent;
    &:hover {
      border: solid $globalHighlightColor;
    }
  }
  .sectionTitle {
    font-size: calc($globalFontSize * 2);
  }

  .sectionContent {
    border-radius: $globalBorderRadius;
    padding: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    transition: height 0.3s;
    &.visible {
      height: 50vh;
    }
    &.hidden {
      filter: grayscale(1);
      height: 0;
      opacity: 0;
    }

    //@include boxShadow;
    &:hover {
      //@include globalPulseAnimationMixin;
    }
  }
}
