@import 'src/assets/globalStyleElements.module';

.CollapsibleSection {
  padding: 2vw;
  border-radius: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;



  @mixin sectionHeader {
    @include boxShadowSmall;
    border-radius: $globalBorderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid transparent;
    &:hover {
      border: solid $globalHighlightColor;
    }
  }

  .collapsibleSectionHeaderDark {
    @include darkThemeContent;
    @include sectionHeader;
    img {
      filter: invert(1);
    }
  }

  .collapsibleSectionHeaderLight {
    @include lightThemeContent;
    @include sectionHeader;
  }

  .collapsibleSectionHeaderColorful {
    @include sectionHeader;
    @include colorfulThemeContent;
  }

  .headerImage {
    width: 3vw;
    height: 3vw;
    padding: 1vw;
  }

  @mixin collapsibleContent {
    @include boxShadowSmall;
    border-radius: $globalBorderRadius;
    font-size: $globalFontSize;
    padding: $globalHomeContentContainerPadding;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .collapsibleSectionContent {
  }

  .collapsibleSectionFooter {

  }

  .collapsibleSectionContentDark {
    @include darkThemeContent;
    @include collapsibleContent;
  }

  .collapsibleSectionContentLight {
    @include lightThemeContent;
    @include collapsibleContent;
  }

  .collapsibleSectionContentColorful {
    @include sectionHeader;
    @include collapsibleContent;
  }


  .darkTheme {
    @include darkThemeContent;
  }

  .lightTheme {
    @include lightThemeContent;
  }

  .colorfulTheme {
    @include colorfulThemeContent;
  }
}

