@import 'src/assets/globalStyleElements.module';

.CollapsibleSection {
  padding: 1rem;



  @mixin sectionHeader {
    border-radius: $globalBorderRadius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .collapsibleSectionHeaderDark {
    @include darkThemeContent;
    @include sectionHeader;
    img {
      filter: invert(1);
    }
  }

  .collapsibleSectionHeaderLight {
    @include lightThemeContent;
    @include sectionHeader;
  }

  .collapsibleSectionHeaderColorful {
    @include sectionHeader;
    @include colorfulThemeContent;
  }

  .headerImage {
    width: 3rem;
    height: 3rem;
    padding-bottom: 0.5rem;
  }

  .darkTheme {
    @include darkThemeContent;
  }

  .lightTheme {
    @include lightThemeContent;
  }

  .colorfulTheme {
    @include colorfulThemeContent;
  }
}

