@import "src/assets/globalStyleElements.module";

.Projects {
  .content {
    padding: $globalHomeContentContainerPadding;
    margin-bottom: 5vh;
  }

  .projectsColumn {
    width:  100%;
    // HACK
     * + * :first-child {
       padding-top: 1vw;
     }
  }


  @mixin contentStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $globalBorderRadius;
  }

  .darkTheme {
    @include darkThemeContentContainer;
    @include contentStyling;
  }

  .lightTheme {
    @include lightThemeContentContainer;
    @include contentStyling;
  }

  .colorfulTheme {
    @include colorfulThemeContentContainer;
    @include contentStyling;
  }

}