@import "src/assets/globalStyleElements.module";

.Projects {
  .content {
    padding: $globalHomeContentContainerPadding;
    margin-bottom: 5vh;
  }

  .projectsContainer {
    display: flex;
    flex-direction: row;
  }


  @mixin contentStyling {
    display: flex;
    border-radius: $globalBorderRadius;
  }

  .darkTheme {
    @include darkThemeContentContainer;
    @include contentStyling;
  }

  .lightTheme {
    @include lightThemeContentContainer;
    @include contentStyling;
  }

  .colorfulTheme {
    @include colorfulThemeContentContainer;
    @include contentStyling;
  }

}