.ImageRouter{
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;

  .image{
    max-width:3rem;
   width: auto;
  }
  .routeToolTip{
    text-align: center;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0%;
    z-index: 1000;
    background-color: (100,100,100,.1);
    border-radius: 30px;
    border: solid black;
    text-decoration: none;
  }
}

/*.ImageRouter:hover{
  background-color: rgba(100,100,100,.1);

  border-radius: 30px;
}*/

.ImageRouter:hover * {
  visibility: visible;
}
.ImageRouter:hover > a > img{
  opacity: 0.5;
}


