@import "src/assets/globalVariables.module";

.ImageLink {
  //positioning
  display: flex;
  height: 100%;
  position: relative;
  //padding & border
  border-radius: $globalBorderRadius;
  border: solid transparent;
  $imageLinkDefaultPadding: $globalHomeContentContainerPadding;
  //font
  $tableSectionFontSize: $globalFontSize;
  font-size: $tableSectionFontSize;

  .image {
    display: flex;
    min-height: 15vh;
    max-height: 15vh;
    align-items: center;
    justify-content: center;
    margin-bottom: calc( $imageLinkDefaultPadding / 1 );
    padding: calc( $imageLinkDefaultPadding / 2 );

  }

  .imageSubtitle {
    position: absolute;
    bottom:0;

  }

  .darkTheme {
    @include darkThemeContentContainer;
    height:inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    display: inherit;
    .image {
      filter: invert(1);
    }
  }

  .lightTheme {
    @include lightThemeContentContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .colorfulTheme {
    @include colorfulThemeContentContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.ImageLink:hover{
  border: solid $globalHighlightColor;
  border-radius: $globalBorderRadius;
}
