@import "src/assets/globalVariables.module";

.ImageLink {

  margin: 1vw;

  a {
    text-decoration: none;
    padding: 1vh 1vh 1vh 1vh;
    min-width: 8vw;
    min-height: 8vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    border: solid transparent;
    border-radius: $globalBorderRadius * 10;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.7vw;
    width: 2.7vw;
  }

  .imageSubtitle {
    display: none;
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translate(-50%, -50%);
  }

  @mixin contentStyling {
    cursor: pointer;
    border: solid transparent;
    border-radius: $globalBorderRadius * 10;
     &:hover {
       border: solid $globalHighlightColor;
     }
    &:hover .imageSubtitle {
      display: flex;
    }
  }

  .darkTheme {
    @include darkThemeContentContainer;
    @include contentStyling;
      .imageContainer {
        filter: invert(1) ;
      }
    }

  .lightTheme {
    @include lightThemeContentContainer;
    @include contentStyling;
  }

  .colorfulTheme {
    @include colorfulThemeContentContainer;
    @include contentStyling;
  }
}
