@import "src/assets/globalVariables.module";

.TableSection {
  border-radius: $globalBorderRadius;
  $tableSectionDefaultPadding: $globalHomeContentContainerPadding;

  $tableSectionFontSize: $globalFontSize;
  font-size: $tableSectionFontSize;
  padding: $tableSectionDefaultPadding;
  .darkTheme {
    @include darkThemeContentContainer;
  }

  .lightTheme {
    @include lightThemeContentContainer;
  }

  .colorfulTheme {
    @include colorfulThemeContentContainer;
  }


  .tableTitle {
    text-decoration: underline;
    display: flex;
    //padding-top: $tableSectionDefaultPadding;
    font-size: calc($tableSectionFontSize * 2);
    justify-content: center;
    align-items: center;
  }

  .tableSubtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tableContent {
    display: flex;
    justify-content: center;
    .tableElement {
      padding: calc( $tableSectionDefaultPadding / 2 );
    }
  }

}
