@import 'src/assets/globalStyleElements.module';

.LinkBanner {
  padding: 0.5vw;
  --highlight-color : $globalHighlightColor;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    min-width: inherit;
    position: relative;
    border-radius: $globalBorderRadius * 10;
    &:hover img {
      transform: translate(0%, -20%);
    }
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.7vw;
    width: 2.7vw;
  }

  img {
    transition: transform 0.55s ease-in-out;
    position: absolute;
  }



  .textContainer {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 50vw;
    transition: opacity 0.25s ease-in-out;
  }

  @mixin contentStyling {
    min-width: 8vw;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: solid transparent;
    border-radius: $globalBorderRadius * 10;
    &:hover {
      border: solid var(--highlight-color);
      //box-shadow: 0 0.05vw 0.1vw var(--highlight-color);
      //background-color: $globalUnderlayRGBAColorDark;
    }
    &:hover .textContainer {
      opacity: 1;
    }
  }

  .darkTheme {
    @include darkThemeContent;
    @include contentStyling;
    --highlight-color: #{$globalHighlightColorDark};
    cursor: pointer;

    .imageContainer {
      filter: invert(1);
    }
  }

  .lightTheme {
    @include lightThemeContent;
    @include contentStyling;
    --highlight-color: #{$globalHighlightColorLight};
    cursor: pointer;
  }

  .colorfulTheme {
    @include colorfulThemeContent;
    @include contentStyling;
    --highlight-color: #{$globalHighlightColorDark};
    cursor: pointer;
  }
}
