@import "src/resources/globalVariables.module";

.Projects {
  padding: 2vw;
  border-radius: $globalBorderRadius;

  .darkTheme {
    padding: inherit;
    border-radius: inherit;
    background-color: $globalUnderlayRGBAColorDark;
  }

  .lightTheme {
    padding: inherit;
    border-radius: inherit;
    background-color: $globalUnderlayRGBAColorLight;
  }

  .colorfulTheme {
    padding: inherit;
    border-radius: inherit;
    background-color: $globalUnderlayRGBAColorLight;
  }

}
