@import "src/assets/globalVariables.module";

.Projects {
  .content {
    padding: $globalHomeContentContainerPadding;
    margin-bottom: 5vh;
  }

  .projectsColumn {
    padding: $globalHomeContentContainerPadding;
    width: 80%;
  }


  @mixin contentStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $globalBorderRadius;
  }

  .darkTheme {
    @include darkThemeContentContainer;
    @include contentStyling;
  }

  .lightTheme {
    @include lightThemeContentContainer;
    @include contentStyling;
  }

  .colorfulTheme {
    @include colorfulThemeContentContainer;
    @include contentStyling;
  }

}