@import "src/resources/globalVariables.module";

.DropdownMenu{

  .dropdownButton{
    border: solid transparent;
    border-radius: 30vw;
    font-family: $globalFontFamily;
    font-size: $globalFontSize*0.8;
    padding: 0.2vw;
  }
  .dropdownButton:hover{
    border: solid $globalHighlightColor;
  }

  .dropdownElements{
    position: absolute;
    z-index: 1000;

    left: 30%;
  }

  .element{
    border: solid transparent;
    border-radius: 30vw;
    background: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5vh;
    margin: 0.2vw;
    font-size: $globalFontSize*0.6;
    cursor: pointer;
  }
  .element:hover{
    border: solid $globalHighlightColor;
  }

}
