.FadeInTextContainer {
  $mainFontSize: 5vh !default;
  $secondaryFontSize: 2vh !default;
  $mainBlockColor: #ff6f69 !default;
  $mainBlockWidth: 100vw !default;
  $mainBlockHeight: 5vh !default;
  $fadeInTime: 2s !default;

  top: 0;
  display: block;
  align-items: center;

  .FadeInAnimationContainer {


    .mainFadeInText {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      z-index: 1;
      font-size: $mainFontSize;
      height: $mainBlockHeight;
      width:  $mainBlockWidth;
      animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
      -webkit-animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
      -moz-animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
      -o-animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
      -ms-animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
      animation-delay: 0.4s;
    }


//   Can be refactored to
    // coloredBlock{
    // .leftToRight {
    // needs another div in Dom i think
    .coloredBlockLeftToRight {
      position: absolute;
      height: $mainBlockHeight;
      width: $mainBlockWidth;
      background: $mainBlockColor;
      opacity: 100%;
      z-index: 2;

      animation: leftToRight $fadeInTime cubic-bezier(.74, .06, .4, .92) forwards;
      animation-delay: 0s;
    }

    .coloredBlockRightToLeft{
      position: absolute;
      height: $mainBlockHeight;
      width: $mainBlockWidth;
      background: $mainBlockColor;
      opacity: 100%;
      z-index: 2;

      animation: rightToLeft $fadeInTime cubic-bezier(.74, .06, .4, .92) forwards;
      animation-delay: 0s;
    }


  }

  .FadeInPlainTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: $secondaryFontSize;
    animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
    -webkit-animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
    -moz-animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
    -o-animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
    -ms-animation: fadeIn $fadeInTime cubic-bezier(.74, .06, .4, .92) both;
    animation-delay: 1s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      right: 0;
    }
    to {
      opacity: 1;
    }
  }


  @keyframes leftToRight {
    0% {
      width: 0;
      left: 0;

    }
    50% {
      width: $mainBlockWidth;
      left: 0;

    }
    100% {
      width: 0;
      left: $mainBlockWidth;
    }
  }

  @keyframes rightToLeft {
    0% {
      width: 0;
      right: 0;

    }
    50% {
      width: $mainBlockWidth;
      right: 0;

    }
    100% {
      width: 0;
      right: $mainBlockWidth;
      display: none;
    }
  }

}

