.FadeInTextContainer {
  $fadeInDuration: 2s;
  $defaultBlockColor: #ffb510;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  width: auto;

  .fadeInText {
    animation: fadeIn $fadeInDuration cubic-bezier(.74, .06, .4, .92) both;
    -webkit-animation: fadeIn $fadeInDuration cubic-bezier(.74, .06, .4, .92) both;
    -moz-animation: fadeIn $fadeInDuration cubic-bezier(.74, .06, .4, .92) both;
    -o-animation: fadeIn $fadeInDuration cubic-bezier(.74, .06, .4, .92) both;
    -ms-animation: fadeIn $fadeInDuration cubic-bezier(.74, .06, .4, .92) both;
    animation-delay: $fadeInDuration*0.8;
  }


  span {

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: $defaultBlockColor;
    animation-delay: 2s;
  }

  .coloredBlock {
    position: absolute;
    height: inherit;
    width: 0;
    background: $defaultBlockColor;
    animation-delay: $fadeInDuration;
    opacity: 100%;
    animation: mainBlock $fadeInDuration cubic-bezier(.74, .06, .4, .92) forwards;
  }

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes mainBlock {
  0% {
    width: 0;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}
