.FadeInTextContainer {
  $fadeInDuration: 2s;
  $defaultBlockColor: #ffb510;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;

  .fadeInText {
    width: auto;
    height: 100%;
    animation: fadeIn $fadeInDuration both;
    -webkit-animation: fadeIn $fadeInDuration both;
    -moz-animation: fadeIn $fadeInDuration both;
    -o-animation: fadeIn $fadeInDuration both;
    -ms-animation: fadeIn $fadeInDuration both;
    animation-delay: $fadeInDuration*0.8;
  }


  span {

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: $defaultBlockColor;

    animation: popIn 1.2s cubic-bezier(.74, .06, .4, .92) forwards;
    -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
  }

  .coloredBlock {
    position: absolute;
    height: inherit;
    width: 0;
    background: $defaultBlockColor;
    animation: mainBlock $fadeInDuration cubic-bezier(.74, .06, .4, .92) forwards;
  }

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0;
    height: 0;
    background: #e9d856;
    border: 0 solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0;
    width: 15px
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0 solid #222;
    bottom: 13px;

  }
}

@keyframes mainBlock {
  0% {
    width: 0;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}
