.nav {
  display: flex;
  justify-content: space-evenly;
}
  .NavLink{
    color:black;
  }
  a{
    text-decoration: none;
    border-radius: 30px;
    border: none;
  }

  a:hover{
    border: solid lightgrey;
  }
  a:visited{
    color:black;
  }
