.NavBar{
.nav {
  display: inline-block;
}
  .NavLink{
    color:black;
  }
  a{
    text-decoration: none;
    border-radius: 30px;
    border: none;
  }

  a:hover{
    border: solid lightgrey;
  }
  a:visited{
    color:black;
  }
}
