@import "src/assets/globalVariables.module";

.Contact {
  padding-top: 3vh;
  .content {
    display: grid;
    place-items: center;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
  }
}
