@import "src/resources/globalVariables.module";

.Contact {
  display: flex;
  border-radius: $globalBorderRadius;
  padding: 2vw;

  .navigationItem:hover {
    border: solid $globalHighlightColor;
  }

  .navigationItem {
    border: solid transparent;
  }

  .navigationItem:active {
    display: block;
    margin: 1vh 0;
    border: solid;
    border-radius: $globalBorderRadius;
    padding: 0.5vw;
  }

.darkTheme {
  display: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorDark;
}

.lightTheme {
  display: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorLight;
}

.colorfulTheme {
  display: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorLight;
}

a {
  text-decoration: none;
}

}
