.LinkContainer{

.logo {
	height: 5vmin;
	pointer-events: none;
}
	/* MOVING CSS INTO NAVIGATION PARENT STRUCTURE
.header {

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 8vh;
	color: white;
	width: 100vw;

}

.dark {
	background-color: #282c34;
}

 */
}
