.LinkContainer{

.logo {
	height: 5vmin;
	pointer-events: none;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 8vh;
	padding: 1rem;
	color: white;
	width: 100%;
}

.dark {
	background-color: #282c34;
}
}
