@import "src/assets/globalStyleElements.module";

.About {
  --pulse-color: #ff6f69ff;
  --pulse-color-profile: #dd608a;
  --pulse-color-skills: #61dafb;
  --pulse-color-contact: #61dafb;
  --box-shadow-color: #212121;

  .content {
    padding: $globalHomeContentContainerPadding;
    margin-bottom: 5vh;

    .aboutMe {
      border-radius: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      //@include boxShadow;
      &:hover {
        --pulse-color: var(--pulse-color-profile);
        @include globalPulseAnimationMixin;
      }
    }

    .profilePicture {
      border-radius: 50vw;
      min-height: 10vh;
      min-width: 10vh;
      max-height: 30vh;
      max-width: 30vh;
    }

    .skillsContainer {
      padding-top: $globalHomeContentContainerPadding;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .skillsHeader {
        font-size: calc($globalFontSize * 2);
      }

      .skillsRowContainer {
        border-radius: $globalBorderRadius;
        display: flex;
        flex-direction: column;
        //@include boxShadow;
        &:hover {
          --pulse-color: var(--pulse-color-skills);
          @include globalPulseAnimationMixin;
        }
      }

      .skillsRow {
        margin: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .contactContainer {
      margin-top: $globalHomeContentContainerPadding;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .contactHeader {
        font-size: calc($globalFontSize * 2);
      }

      .contactLinksRow {
        display: inherit;
        flex-direction: row;
        margin: 2vh;
      }

      .contactLinks {
        border-radius: $globalBorderRadius;
        //@include boxShadow;
        display: flex;

        &:hover {
          --pulse-color: var(--pulse-color-contact);
          @include globalPulseAnimationMixin;
        }
      }
    }

    @mixin contentStyling {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: $globalBorderRadius;
    }

    .darkTheme {
      @include darkThemeContentContainer;
      @include contentStyling;
      --pulse-color-profile: #845ec2;
      --pulse-color-skills: #61dafb;
      --pulse-color-contact: #ff6f69;
      --box-shadow-color: black;
    }

    .lightTheme {
      @include lightThemeContentContainer;
      @include contentStyling;
      --pulse-color-profile: #845ec2;
      --pulse-color-skills: #d65db1;
      --pulse-color-contact: #d65db1;
      --box-shadow-color: #212121;
    }

    .colorfulTheme {
      @include colorfulThemeContentContainer;
      @include contentStyling;
      --pulse-color-profile: #845ec2;
      --pulse-color-skills: #d65db1;
      --pulse-color-contact: #d65db1;
      --box-shadow-color: #212121;
    }
  }
}
