@import "src/assets/globalVariables.module";

.About {

  .content {
    padding: $globalHomeContentContainerPadding;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .titles {
      padding: initial;
      padding-top: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .mainTitle {
      font-size: $globalFontSize * 3;
    }
    .subTitle {
      font-size: $globalFontSize * 2;
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .skillsRow {
    display: flex;
    flex-direction: row;
  }
}
