@import "src/assets/globalVariables.module";

.TextSection{
  margin-bottom: 10vh;
  border-radius: $globalBorderRadius;
  $sectionFontSize: $globalFontSize;
  $sectionPaddingHeight: 1vh;


  .textSectionTitle {
    text-decoration: underline;
    font-size: calc($sectionFontSize * 2);
    padding: $globalHomeContentContainerPadding $globalHomeContentContainerPadding 0 $globalHomeContentContainerPadding;
  }

  .textSectionContent {
    padding-top: $globalHomeContentContainerPadding;
    padding-bottom: $globalHomeContentContainerPadding;
    p {
      padding: calc($sectionPaddingHeight / 2) $globalHomeContentContainerPadding $sectionPaddingHeight $globalHomeContentContainerPadding;
    }
  }
  .darkTheme {
    @include darkThemeContentContainer;
  }

  .lightTheme {
    @include lightThemeContentContainer;
  }

  .colorfulTheme {
    @include colorfulThemeContentContainer;
  }
}
