@import "src/assets/globalVariables.module";

.SectionHeaderContainer{
  $coloredShapeTitleFontSize : $globalFontSize;


  .sectionHeaderContent{
  }


  .sectionHeaderTitle {
    padding: 2vh;
    font-size: calc( $coloredShapeTitleFontSize * 2 );
  }

  .darkTheme {
    @include darkTheme;
  }

  .lightTheme {
    @include lightTheme;
  }

  .colorfulTheme {
    @include colorfulTheme;
  }

}
