$globalFontFamily: "Courier New", monospace;
$globalFontSize: 1vw;

$globalBorderRadius: 2vw;
$globalHomeContentContainerPadding: 2vw;

$globalDarkColor: #212121;
$globalLightColor: #fafafa;
$globalUnderlayRGBAColorDark: rgba(255, 255, 255, 0.05);
$globalUnderlayRGBAColorLight: rgba(0, 0, 0, 0.1);
$globalHighlightColor: #ff6f69;
$globalSecondaryHighlightColor: #dd608a;
$globalHighlightColorRgba: rgba(255, 111, 105, 0.2);
$globalSecondaryHighlightColorRgba: rgba(221, 96, 138, 0.7);
$globalBackgroundColorNavigationBar: #fff;

$colorsReact: #61dafb;
$colorsKotlin: #7f52ff;
$colorsReactRgba: rgba(97, 218, 251, 0.2);

$gradientColor1: #845ec2;
$gradientColor1: #d65db1;
$gradientColor1: #ff9671;
$gradientColor1: #ffc75f;
$gradientColor1: #f9f871;

@mixin darkTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: $globalDarkColor;
  color: $globalLightColor;
  a {
    color: white;
  }
}

@mixin lightTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: $globalLightColor;
  color: $globalDarkColor;
  a {
    color: $globalDarkColor;
  }
}

@mixin colorfulTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: #91f88b;
  color: $globalDarkColor;
  a {
    color: $globalDarkColor;
  }
}

@mixin darkThemeContentContainer {
  padding: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorDark;
}

@mixin lightThemeContentContainer {
  padding: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorLight;
}

@mixin colorfulThemeContentContainer {
  padding: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorLight;
}

@mixin boxShadow {
  //declare --box-shadow-color: #DesiredColorHex; in the file you import this mixin.
  box-shadow: 0.1vw 0.1vw 0.5vw var(--box-shadow-color);
}

@mixin boxShadowSmall {
  box-shadow: 0.1vw 0.1vw 0.2vw var(--box-shadow-color);
}

@mixin globalPulseAnimationMixin() {
  //declare --box-shadow-color: #DesiredColorHex; in the file you import this mixin.
  //declare --pulse-color: #DesiredColorHex; in the file you import this mixin.
  animation: pulseAnimation 1s linear forwards;
  @keyframes pulseAnimation {
    0% {
      box-shadow: 0 0 0 0 var(--pulse-color);
    }
    80% {
      box-shadow: 0vw 0vw 0vw 0.5vw rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}
