$globalFontFamily: "Courier New", monospace;
$globalFontSize: 1vw;

$globalBorderRadius: 2vw;
$globalHomeContentContainerPadding: 2vw;

$globalDarkColor: #212121;
$globalLightColor: #fafafa;
$globalUnderlayRGBAColorDark: rgba(255, 255, 255, 0.05);
$globalUnderlayRGBAColorLight: rgba(0, 0, 0, 0.15);
$globalHighlightColor: #ff6f69;
$globalSecondaryHighlightColor: #DD608A;
$globalHighlightColorRgba: rgba(255, 111, 105, 0.2);
$globalSecondaryHighlightColorRgba: rgba(221, 96, 138, 0.7);
$globalBackgroundColorNavigationBar: #fff;

$colorsReact: #61dafb;
$colorsReactRgba: rgba(97, 218, 251, 0.2);

$gradientColor1: #845EC2;
$gradientColor1: #D65DB1;
$gradientColor1: #FF9671;
$gradientColor1: #FFC75F;
$gradientColor1: #F9F871;

@mixin darkTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: $globalDarkColor;
  color: $globalLightColor;
  a {
    color: white;
  }
}

@mixin lightTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: $globalLightColor;
  color: $globalDarkColor;
  a {
    color: $globalDarkColor;
  }
}

@mixin colorfulTheme {
  font-family: $globalFontFamily;
  font-size: $globalFontSize;
  background-color: rgba(145, 248, 139, 0.74);
  color: $globalDarkColor;
  a {
    color: $globalDarkColor;
  }
}

@mixin darkThemeContentContainer {
  padding: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorDark;
}

@mixin lightThemeContentContainer {
  padding: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorLight;
}

@mixin colorfulThemeContentContainer {
  padding: inherit;
  border-radius: inherit;
  background-color: $globalUnderlayRGBAColorLight;
}


@mixin boxShadow{
  //declare --box-shadow-color: #DesiredColorHex; in the file you import this mixin.
  box-shadow: 0.1vw 0.1vw 0.5vw var(--box-shadow-color);
}

@mixin boxShadowSmall{
  box-shadow: 0.1vw 0.1vw 0.2vw var(--box-shadow-color);
}

@mixin pulseAnimationMixin() {
  animation: pulseAnimation 2s linear forwards;
}

@keyframes pulseAnimation {
  0% {
    box-shadow: 0.1vw 0.1vw 0.5vw var(--box-shadow-color), 0 0 0 0 var(--pulse-color);
  }
  60% {
    box-shadow: 0.1vw 0.1vw 0.5vw var(--box-shadow-color), 0.1vw 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0.1vw 0.1vw 0.5vw var(--box-shadow-color), 0 0 0 0 rgba(0, 0, 0, 0);
  }
}