@import 'src/assets/globalStyleElements.module';

.Header {
  $topPadding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

  .headerElements {
    padding: $topPadding*1.5 0 0 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }
  .themeButton {
    position: fixed;
    right: 0;
    top: 0.3rem;
    align-items: baseline;
  }
}
