@import 'src/assets/globalStyleElements.module';

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

  .headerElements {
    padding: 3vh 0 1vh 0;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }
  .themeButton {
    position: absolute;
    right: 2vw;
    top: 3vh;
    align-items: baseline;
  }
}
