.Header {
  border-bottom: solid 0.2vh;
  justify-content: space-evenly;
  height: 15vh;
  max-height: 10%;
  width: 100vw;
  align-items: center;

  a {
    text-decoration: none;
    border-radius: 50px;
    border: none;
  }
}
