@import "src/resources/globalVariables.module";
.Biography {
  padding: 2vw;
  margin-bottom: 10vh;
  border-radius: 2vw;

  .darkTheme{
    padding: inherit;
    border-radius: inherit;
    background-color: $globalUnderlayRGBAColorDark;
  }
  .lightTheme{
    padding: inherit;
    border-radius: inherit;
    background-color: $globalUnderlayRGBAColorLight;
  }
  .colorfulTheme{
    padding: inherit;
    border-radius: inherit;
    background-color: $globalUnderlayRGBAColorLight;
  }
  .textContainer{

  }
  .textTitle{
    text-decoration: underline;
    font-size:2vw;
    padding-bottom: 1.5vw;
  }

}
