@import "src/resources/__globalVariables.module.scss";

.Biography {
  padding: 2vw;
  border: $globalLightColor;
  border-radius: 2vw;
  background-color: rgba(255,255,255, 0.05);
  .textContainer{

  }
  .textTitle{
    text-decoration: underline;
    font-size:2vw;
    padding-bottom: 1.5vw;
  }

}
