@import "src/assets/globalStyleElements.module";
.Tooltip {
  display: flex;
  width: max-content;
  position: relative;
  z-index: 1000;
  &:hover .tooltipContainer {
    opacity: 1;
  }
  &:hover .childrenContainer {
  }
  .tooltipContainer {
    font-size: $globalFontSize*0.9;
    opacity: 0;
    width: fit-content;
    transition: opacity 0.55s ease-in-out;
    transform: translate(9vw, -3vh);
  }
  .childrenContainer {
  }
}