.AnimatedTextRouter {
  height:100%;
  display: flex;
  align-items: center;
  max-font-size: 6rem;

  a{
    text-decoration: none;
  }

  .inActiveLink {
    padding: 0.8vw;
    font-size: 3vw;
    display: inline-block;
    text-transform: uppercase;
    margin: 0.3rem;
    border: solid transparent;
  }


  .activeLink {
    padding: 0.8vw;
    font-size: 3vw;
    border: solid black;
    margin: 0.4rem;
    border-radius: 30vh;
    text-transform: uppercase;
    background-image: linear-gradient(
                    -225deg,
                    #000000 0%,
                    #000000 29%,
                    #d91683 67%,
                    black 100%
    );
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 20s linear infinite;
    display: inline-block;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

}
