@import "src/resources/globalVariables.module";

.AnimatedTextRouter {
  height:100%;
  display: flex;
  align-items: center;

  a{
    text-decoration: none;
  }

  .inActiveLink {
    font-size: 6vh;
    text-transform: uppercase;
    padding: 0.8vw;
    margin: 0.3vw;
    border: solid transparent;
    border-radius: 30vh;
  }


  .activeLink {
    font-size: 6vh;
    text-transform: uppercase;
    border: solid black;
    border-radius: 30vh;
    margin: 0.4vw;
    padding: 0.8vw;
    background-image: linear-gradient(
                    -225deg,
                    #000000 0%,
                    #000000 29%,
                    #d91683 67%,
                    black 100%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 20s linear infinite;
    display: inline-block;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

}
