.Home {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  background: #212121;
  color: #fafafa;
  overflow: hidden;

  html{
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    width:0;
    background: transparent;
  }

  a{
    color: black;
  }
  .contentContainer {
    color: #fafafa;
    box-sizing: border-box;
    font-size: 1vw;
    padding: 3% 3% 5% 3%;
    max-height: 80vh;
    overflow: auto;
  }

  .attractScreen {
    padding: 0;
    background: #212121;
    color: #fafafa;
  }
}
.Home * {
  font-family: "Courier New",monospace;
}
