.Home {
  height: 100vh;
  width: 100%;
  background: #212121;
  overflow: hidden;

  a{
    color: black;
  }
  .contentContainer {
    height: 100%;
    font-family: "Courier New", monospace;
    color: #fafafa;
    box-sizing: border-box;
    font-size: 22px;
    overflow: auto;
    padding: 3% 3% 3% 3%;
  }

  .attractScreen {
    padding: 0;
    background: #212121;
    color: #fafafa;
  }
}

