.Home {
  height:100vh;
  width: 100vw;
  overflow: hidden;

  .contentContainer {
    height: 100%;
    padding: 3%;
    font-family: "Courier New", monospace;
    background: #212121;
    color: #fafafa;
    box-sizing:border-box;
    font-size: 22px;

  }
  .attractScreen{
    padding : 0;
    overflow: hidden;
    background: #212121;
    color: #fafafa;
  }
}
