@import "src/assets/globalVariables.module";

.ContentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  $contentSectionPadding: $globalHomeContentContainerPadding;
  .contentRow {
    display: inherit;
    padding-top: $contentSectionPadding;
    gap: $contentSectionPadding;
  }


}