@import 'src/assets/globalStyleElements.module';

.Skills {
  padding: $globalHomeContentContainerPadding;
  margin-bottom: 5vh;

  .programmingSkillsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .programmingSkillsHeader {
      font-size: calc($globalFontSize * 2);
    }

    .programmingSkillsRowContainer {
      border-radius: $globalBorderRadius;
      display: flex;
      flex-direction: column;

      &:hover {
        //--pulse-color: var(--pulse-color-skills);
        //@include globalPulseAnimationMixin;
      }
    }

    .programmingSkillsRow {
      margin: 2vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .programmingSkillsToggleContainer {
      position: absolute;
      transform: translate(15.9vw, -25.3vh);
    }

    .programmingSkillsToggleImages {
      display: flex;

      img {
        width: 1vw;
        height: 1vw;
      }
    }
  }

  .otherSkillsContainer {
    padding-top: $globalHomeContentContainerPadding;
    padding-bottom: $globalHomeContentContainerPadding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .otherSkillsHeader {
      font-size: calc($globalFontSize * 2);
      padding-bottom: calc($globalHomeContentContainerPadding / 2);
      padding-bottom: calc($globalHomeContentContainerPadding / 2);
    }

    .otherSkillsContent {
      display: flex;
      flex-direction: column;
      align-content: start;
    }
  }

  @mixin contentStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $globalBorderRadius;
  }

  .darkTheme {
    @include darkThemeContent;
    @include contentStyling;
    --box-shadow-color: black;
  }

  .lightTheme {
    @include lightThemeContent;
    @include contentStyling;
    --box-shadow-color: #212121;
  }

  .colorfulTheme {
    @include colorfulThemeContent;
    @include contentStyling;
    --box-shadow-color: #212121;
  }
}