@import "src/assets/globalVariables.module";

.SkillBanner {
  padding: 1vh;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageContainer img {
    height: 2.7vw;
    width: 2.7vw;
  }

  .textContainer {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    margin-top: -1vh;
    border-radius: 50vw;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  @mixin contentStyling {
    padding: 1vh 1vh 1vh 1vh;
    min-width: 8vw;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: solid transparent;
    border-radius: $globalBorderRadius * 10;

    &:hover .textContainer {
      display: flex;
    }
    &:hover img {
      opacity: 0.1;
      filter: grayscale(1);
    }
  }

  .darkTheme {
    @include darkThemeContentContainer;
    @include contentStyling;
  }

  .lightTheme {
    @include lightThemeContentContainer;
    @include contentStyling;
  }

  .colorfulTheme {
    @include colorfulThemeContentContainer;
    @include contentStyling;
  }
}
